<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="index" th:remove="tag">
        <p>INDEX</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="mission_control" th:remove="tag">
        <p>MISSION CONTROL</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="resources" th:remove="tag">
        <p>RESOURCES</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="inbound_ships" th:remove="tag">
        <p>INBOUND SHIPS</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="outbound_ships" th:remove="tag">
        <p>OUTBOUND SHIPS</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="active_ships" th:remove="tag">
        <p>ACTIVE SHIPS</p>
        <div id="sample"></div>
    </div>
    <div th:fragment="none" th:remove="tag">
        <p>(No fragment selected)</p>
    </div>
</body>